@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
  color: white;
}
body {
  background-image: url("img/shutterstock_1467546281 1.png");
  background-color: #080a0b;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2210c0;
  width: 1244px;
  height: 125px;
  padding: 0 36px;
  display: flex;
  margin: auto; /*გაიცენტრაა*/
  justify-content: space-between;
}
.logo {
  width: 190px;
  height: 190px;
}

.nav {
  display: flex;
  align-items: center; /*ვერტიკალურად გაცენტვრაა */
  justify-content: space-between; /* ლინკები გასწორება */
}

.nav-container {
  display: flex;
  list-style: none;
  gap: 62px;
  text-decoration: uppercase;
}

.nav-container li a {
  text-decoration: none;
  color: #848484;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: right;
}
.right-container {
  display: flex;
  align-items: center;
}
.language-selector {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: right;
}
.line {
  height: 40px;
  width: 1px;
  background-color: #ffffff;
  margin-left: 32px;
  margin-right: 32px;
}
.coins-container {
  width: 140px;
  height: 50px;
  background-color: #162635;
  box-shadow: 0px 0px 8px 0px #335372 inset;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px 0px 16px;
}
.coins {
  background: linear-gradient(178.8deg, #e57123 -6.42%, #ffde75 98.98%);
  background-clip: text;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: transparent;
}
/* :hover ro gaatetros */
footer {
  width: 1920px;
  height: 243px;
  position: relative;
  top: 1587px;
  background-color: #491111;
  display: flex; /* იყენებს flexbox-ს */
  align-items: center; /* ვერტიკალურად გასწორება */
  justify-content: flex-start; /* ელემენტები მარცხნიდან განლაგდება */
  padding-left: 318px; /* მარცხნიდან დაშორება */
}

.flogo img {
  width: 212px;
  height: 212px;
  margin-right: 10px; /* ლოგოს და ტექსტს შორის დაშორება */
}

.date {
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 600;
}

.date p {
  margin: 0;
  padding: 0;
}

.date a {
  color: white;
  text-decoration: none;
  margin-top: 8px;
  color: #3db3a2;
  display: block;
}
/* .icons {
    rihth-width: 318px;
    left-width:1296;
} */
.Right {
  display: flex;
  flex-direction: column; /* ვერტიკალური განლაგება */
  align-items: flex-end; /* ელემენტები მარჯვნივ */
  position: absolute; /* სრული დივის გადაადგილება */
  right: 20px; /* მარჯვენა მხარეს გადაადგილება */
  top: 69px; /* ზედა ნაწილში გადაადგილება */
  bottom: 69px;
  gap: 32px;
  right: 318px;
}

.Right .icons {
  display: flex;
  gap: 10px; /* iconebs შორის დაშორება */
}

.Right .icons a img {
  width: 24px; /* icone ზომა */
  height: 24px;
}

.Right .contact {
  font-size: 12px;
  text-align: right;
}

.tel {
  color: #e93830;
  text-decoration: none;
}
.Right .contact a {
  text-decoration: none;
}
